<a href="https://colab.research.google.com/github/techtenant/OSMI-Mental-Health-in-Tech-Survey/blob/master/%5BPractice_Notebook%5D_AfterWork_Data_Science_Getting_Started_with_Text_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="#4b76b7">To start practicing, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# AfterWork Data Science: Getting Started with Text Analysis

# Text Processing Techniques

## Importing our Essential Libraries and Dataset

In [ ]:
# Importing the required libraries
# ---
#
import pandas as pd
import numpy as np

In [ ]:
# Importing our dataset
# ---
# We will explore basic text processing techniques using the following dataset 
# which contains earthquake-related tweets from 25th April 2015 to 5th May 2015 
# in 6 Metropolitan cities of Nepal.
# ---
# Dataset url = https://bit.ly/2Yf17AI
# 

# see entire column content in the dataframe
pd.set_option('display.max_columns', None)  

# importing our dataset
df = pd.read_csv('https://bit.ly/2Yf17AI')
 
# previewing datset
df.sample(5)

,Unnamed: 0,User_ID,Username,Tweet_Date,Tweet,Tweet_Link
823,823,592721353553350656,sangeetkayastha,2015-04-27 16:05:57+00:00,"#Nepal #NepalEarthquake , last earthquake 10 m...",https://twitter.com/sangeetkayastha/status/592...
409,409,591952124990201856,jagannathlc,2015-04-25 13:09:19+00:00,How do we get indication of possible tremors a...,https://twitter.com/jagannathlc/status/5919521...
68,68,593538370917138432,navizeapp,2015-04-29 22:12:29+00:00,Nepal earthquake: Crowds grow angry as emergen...,https://twitter.com/navizeapp/status/593538370...
1240,1240,591854052310323200,sanjaysharma_,2015-04-25 06:39:36+00:00,@BBCWorld nepal is the center...of that earthq...,https://twitter.com/sanjaysharma_/status/59185...
79,79,593381535081889792,everyEarthquake,2015-04-29 11:49:17+00:00,USGS reports a M4.4 #earthquake 18km NNW of Na...,https://twitter.com/everyEarthquake/status/593...

In [ ]:
# dropping irrelevant columns
df = df.drop(['Unnamed: 0', 'User_ID', 'Username', 'Tweet_Date', 'Tweet_Link'], axis = 1) 

# renaming column 
df.columns = ['tweet']

# previewing datset
df.sample(10)

                                                  tweet
250   Green earthquake alert (Magnitude 4.6M, Depth:...
476   Felt #earthquake M5.3 strikes 24 km E of #Kath...
38                      My home destroy by earthquakes
1017  @rajunepal What's your take on Earthquake fore...
714   In #Nepal after #earthquake, Unicef estimates ...
1005  ((ELB)) Post earthquake: Swayambhunath (aka Mo...
1026  @ChahanaS @setopati @rsnkarki @madhurdev pls u...
434   I hope this is the first and last massive eart...
287    another big tremor #kathmandu #earthquake #Nepal
729   #earthquake Picture speaks itself. #Patanmanga...

## 1. Characters

### Basic Processing Techniques

#### Examples

In [ ]:
# Example 1
# ---
# Counting the no. characters in our text
# ---
# 
df['char_count'] = df.tweet.apply(len)
df[['tweet', 'char_count']].sample(5)

                                                  tweet  char_count
1091  ((Cada Dia)) earthquake burriedd people in Kat...         136
214   #earthquake last tweet in a while... no electr...          53
483   4.9 earthquake, 17km ENE of Banepa, Nepal. Apr...          99
1171  Three earthquake injured locals brought to Sum...          85
1243           Earthquake felt in our Operation theatre          40

In [ ]:
# Example 2
# ---
# Counting the no. of punctuation characters
# ---
# 
df['punctuation_count'] = df.tweet.apply(lambda x: len("".join(_ for _ in x if _ in x.split()))) 
df[['tweet', 'punctuation_count']].sample(5)

In [ ]:
# Example 3
# ---
# Removing Punctuation Characters
# ---
# A punctuation mark is a mark, such as a full stop, comma, or question mark, 
# used in writing to separate sentences and their elements and to clarify meaning.
# ---
#
df['tweet'] = df.tweet.str.replace('[^\w\s]','')
df[['tweet']].sample(5)

In [ ]:
# Example 4
# ---
# Finding Specific Characters i.e. @
# ---
#
df['no_of_ampersats'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.startswith('@')]))
df[['tweet','no_of_ampersats']].sample(5)

In [ ]:
# Example 5
# ---
# Replacing Characters with Characters
# ---
# We will replace # with space ' '
# ---
# 
df['tweet_rp_hash'] = df.tweet.str.replace('#',' ')
df[['tweet', 'tweet_rp_hash']].sample(5)

In [ ]:
# Example 6
# ---
# Finding Characters i.e. #, and return the index of the character.
# ---
# 
df['tweet_fd_hash'] = df.tweet.str.find("#")
df[['tweet', 'tweet_fd_hash']].sample(5)

#### <font color="#4b76b7">Challenge</font>

In [ ]:
# Importing the dataset that we will use in our challenges.
# This is a dataset sourced from twitter about natural disasters.
# ---
# Disaster dataset url = https://bit.ly/31cB8Mq
# ---
#

# Importing our dataset
df2 = pd.read_csv('https://bit.ly/31cB8Mq')

# dropping irrelevant columns
df2 = df2.drop(['id', 'keyword', 'location', 'target'], axis = 1) 

# renaming column 
df2.columns = ['tweet']

# previewing datset
df2.sample(10)

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Remove the punctuation characters from all the tweets.
# --- 
# 
df2['char_count'] = df.tweet.apply(len)
df2[['tweet', 'char_count']].sample(5)

In [ ]:
# Challenge 2
# ---
# Question: Find how many # characters there are for each tweet.
# --- 
#

In [ ]:
# Challenge 3
# ---
# Question: Replace the # characters with with space
# --- 
#

In [ ]:
# Challenge 4
# ---
# Question: Find # from each tweet and return the index of the character
# --- 
#

## 2. Words

### 2.1 Basic Processing Techniques

#### Examples

In [ ]:
# Example 1
# ---
# Counting Frequency of Words / No. of words in a Corpus/Text/Vocabulary of Words
# ---
# 
df['word_count'] = df.tweet.apply(lambda x: len(str(x).split(" ")))
df[['tweet', 'word_count']].sample(5)

In [ ]:
# Example 2
# ---
# Find Words Starting With or Ending (endswith) With i.e. # 
# ---
#
df['words_starting_with'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
df[['tweet','words_starting_with']].sample(5)

In [ ]:
# Example 3
# ---
# Check if Words are Made by Digits or Not 
# ---
#
df['words_is_digit'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.isdigit()]))
df[['tweet','words_is_digit']].sample(5)

In [ ]:
# Example 4
# ---
# Average Word Length
# ---
#

# We create a custom avg_word function to perform average of each record 
# then apply the function to the df column.
def avg_word(sentence):
  words = sentence.split()
  try:
    z = (sum(len(word) for word in words)/len(words))
  except ZeroDivisionError:
    z = 0 
  return z

df['avg_word_length'] = df.tweet.apply(lambda x: avg_word(x))
df[['tweet','avg_word_length']].sample(5)

In [ ]:
# Example 5
# ---
# Checking if substring is contained in text
# ---
#
df['contains_nepal'] = df.tweet.str.contains('death').any()
df[['tweet','contains_nepal']].sample(5)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Determine whether there are words with digits.
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Find words starting with the substring 'Disaster'.
# ---
#

In [ ]:
# Challenge 3
# ---
# Question: How many words can be found in each tweet?
# ---
#

In [ ]:
# Challenge 4
# ---
# Question: What is the average word length for each tweet?
# ---
#

### 2.2 Rare and Unique Words

#### Examples

In [ ]:
# Example 1
# ---
# Finding Most Frequent Words i.e. Below are top 10
# ---
#
freq = pd.Series(' '.join(df.tweet).split()).value_counts()[:10]
freq

In [ ]:
# Example 3
# ---
# Finding Rare Words i.e. 100 of them
# ---
#
freq = pd.Series(' '.join(df.tweet).split()).value_counts()[-100:]
freq

In [ ]:
# Example 4
# ---
# Removing Rare Words 
# ---
# 
freq = list(freq.index)
df['tweet_rare_mvd'] = df.tweet.apply(lambda x: " ".join(x for x in x.split() if x not in freq))
df[['tweet', 'tweet_rare_mvd']].sample(10)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Find 50 rare words from the tweets.
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Get the 20 most frequent words from the tweets.
# ---
#

In [ ]:
# Challenge 3
# ---
# Question: Remove above rare words from the tweets.
# ---
#

### 2.3 Uppercase, Lowercase and Propercase

#### Examples

In [ ]:
# Example 1
# ---
# Finding no. of Uppercase Words 
# ---
#
df['no_of_uppercase'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.isupper()]))
df[['tweet','no_of_uppercase']].sample(10)

In [ ]:
# Example 2
# ---
# Finding no. of Lowercase Words 
# ---
#
df['no_of_lowercase'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.islower()]))
df[['tweet','no_of_lowercase']].sample(10)

In [ ]:
# Example 2
# ---
# Finding no. of Propercase Words 
# ---
#
df['no_of_propercase'] = df.tweet.apply(lambda x: len([x for x in x.split() if x.istitle()]))
df[['tweet','no_of_propercase']].sample(10)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Find the number of uppercase words in each tweet. 
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Find the number of lowercase words in each tweet. 
# ---
#

### 2.4 Stop Words

#### Examples

In [ ]:
# For the following examples, we will use the natural language tooklit (nltk) library
# ---
#
import nltk
nltk.download('stopwords')

In [ ]:
# Example 1
# ---
# Finding Stop Words
# ---
#

# We will first import a list of stopwords in english
# ---
# 
from nltk.corpus import stopwords
stop = stopwords.words('english')

# Let's see all these stops words are
# ---
#
stop

In [ ]:
# Then let's see the no. of stopwords in the tweets
# ---
# 
df['no_of_stopwords'] = df.tweet.apply(lambda x: len([x for x in x.split() if x in stop]))
df[['tweet','no_of_stopwords']].sample(10)

In [ ]:
# Example 2
# ---
# Removing these Stop Words
# ---
#
df['tweet'] = df.tweet.apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df[['tweet']].sample(5)

In [ ]:
# Example 2
# ---
# Let's see if the stop words are there... 0 means we don't have any stopwords.
# ---
#
df['no_of_stopwords'] = df.tweet.apply(lambda x: len([x for x in x.split() if x in stop]))
df[['tweet','no_of_stopwords']].sample(5)

#### <font color="#4b76b7">Challenges</font>

We will use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Find the no. of stop words in each tweet.
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Remove stop words from each tweet. 
# ---
#

### 2.3 Part of Speech Tags and Sentiment Related Features

#### Examples

In [ ]:
# First, we will download the punkt and the averaged_perceptron_tagger into our notebook environment. 
# which will allow us to find the part of speech tags.
# ---
#
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

In [ ]:
# We create the function to check and get the part of speech tag count of a words in a given sentence
pos_dic = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

def pos_check(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_dic[flag]:
                cnt += 1
    except:
        pass
    return cnt

In [ ]:
# Example 1
# ---
# Noun Count
# ---
#
df['noun_count'] = df.tweet.apply(lambda x: pos_check(x, 'noun'))
df[['tweet','noun_count']].sample(10)

In [ ]:
# Example 2
# ---
# Verb Count 
# ---
#
df['verb_count'] = df.tweet.apply(lambda x: pos_check(x, 'verb'))
df[['tweet','verb_count']].sample(10)

In [ ]:
# Example 3
# ---
# Adjective Count
# ---
#
df['adj_count'] = df.tweet.apply(lambda x: pos_check(x, 'adj'))
df[['tweet','adj_count']].sample(10)

In [ ]:
# Example 4
# ---
# Adverb Count 
# ---
#
df['adv_count'] = df.tweet.apply(lambda x: pos_check(x, 'adv'))
df[['tweet','adv_count']].sample(10)

In [ ]:
# Example 5
# ---
# Pronoun Count 
# ---
#
df['pron_count'] = df.tweet.apply(lambda x: pos_check(x, 'pron'))
df[['tweet','pron_count']].sample(10)

In [ ]:
# Example 6
# ---
# Polarity
# ---
#

# Function to get polarity of text using the module textblob
def get_polarity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        pol = textblob.sentiment.polarity
    except:
        pol = 0.0
    return pol

df['polarity'] = df.tweet.apply(get_polarity)
df[['tweet', 'polarity']].sample(10)

In [ ]:
# Example 7
# ---
# Subjectivity
# ---
#

# Function to get subjectivity of text using the module textblob
def get_subjectivity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        subj = textblob.sentiment.subjectivity
    except:
        subj = 0.0
    return subj

df['subjectivity'] = df.tweet.apply(get_subjectivity)
df[['tweet', 'subjectivity']].sample(10)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Create new part of speech tag and sentiment related features 
# ---
#

## 3. Text

### 3.1 Basic Processing Techniques

#### Examples

In [ ]:
# Example 1
# ---
# Length of Text (includes spaces)
# ---
# 
df['length_of_text'] = df.tweet.str.len()
df[['tweet','length_of_text']].sample(5)

In [ ]:
# Example 2
# ---
# Lowercasing Text
# ---
#
df['tweet'] = df.tweet.apply(lambda x: " ".join(x.lower() for x in x.split()))
df[['tweet']].sample(5)

In [ ]:
# Example 3
# ---
# Finding specific words i.e. Words which have more than 5 letters
# --- 
#
df['specific_words'] = df.tweet.apply(lambda x: " ".join(x for x in x.split() if(len(x)>5))) 
df[['tweet','specific_words']].sample(5)

In [ ]:
# Example 4
# ---
# Splitting concatenated words
# ---
# We can split concatenated words into separate words i.e. 'thathad' to 'that', 'had' 
# but we first need to install wordninja & textblob libraries which will allows us to do this operation.
# --- 
# 
!pip3 install wordninja
!pip3 install textblob

In [ ]:
# Importing the required libraries
# ---
#  
import wordninja 
from textblob import TextBlob

# Performing our splitting 
# 
df['tweet'] = df.tweet.apply(lambda x: wordninja.split(str(TextBlob(x))))  
df['tweet'] = df.tweet.str.join(' ')
df[['tweet']].sample(10)

In [ ]:
# Example 5
# ---
# Spelling Correction
# ---
# Spelling correction helps in identifying multiple copies of words which can later be removed. 
# ---
#

# Lets first quickly do some cleaning
# ---

# Removing punctuantion characters
# ---
df['tweet'] = df.tweet.str.replace('[^\w\s]','') 

# Removing special characters i.e. # and @
# ---  
df['tweet'] = df.tweet.str.replace('#','')
df['tweet'] = df.tweet.str.replace('@','')

# Removing stop words
# ---
# 
df['tweet'] = df.tweet.apply(lambda x: " ".join(x for x in x.split() if x not in stop))

# Previewing our dataset
# ---
#
df[['tweet']].sample(10)

In [ ]:
# Let's now do spelling correction
# ---
#

# For demo purposes we only correct first 20 records
# NB: If you choose to correct the entire dataset, it will take time and you'll have to wait.
# ---
#
df['corrected_tweet'] = df['tweet'][:20].apply(lambda x: str(TextBlob(x).correct()))
df[['tweet', 'corrected_tweet']].head(20)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Determine the length of each tweet.
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Transform each tweet by lowercasing it.
# ---
#

In [ ]:
# Challenge 3
# ---
# Question: Find specific words with more than 3 letters. 
# ---
#

In [ ]:
# Challenge 4
# ---
# Question: Split concatenated words in each tweet. 
# ---
#

In [ ]:
# Challenge 5
# ---
# Question: Perform spelling correction of the first 100 texts. 
# ---
#

### 3.2 Part of Speech Tags and Sentiment Related Features

#### Examples

In [ ]:
# First, we will download the punkt and the averaged_perceptron_tagger into our notebook environment. 
# which will allow us to find the part of speech tags.
# ---
#
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

In [ ]:
# We create the function to check and get the part of speech tag count of a words in a given sentence
pos_dic = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

def pos_check(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_dic[flag]:
                cnt += 1
    except:
        pass
    return cnt

In [ ]:
# Example 1
# ---
# Noun Count
# ---
#
df['noun_count'] = df.tweet.apply(lambda x: pos_check(x, 'noun'))
df[['tweet','noun_count']].sample(10)

In [ ]:
# Example 2
# ---
# Verb Count 
# ---
#
df['verb_count'] = df.tweet.apply(lambda x: pos_check(x, 'verb'))
df[['tweet','verb_count']].sample(10)

In [ ]:
# Example 3
# ---
# Adjective Count
# ---
#
df['adj_count'] = df.tweet.apply(lambda x: pos_check(x, 'adj'))
df[['tweet','adj_count']].sample(10)

In [ ]:
# Example 4
# ---
# Adverb Count 
# ---
#
df['adv_count'] = df.tweet.apply(lambda x: pos_check(x, 'adv'))
df[['tweet','adv_count']].sample(10)

In [ ]:
# Example 5
# ---
# Pronoun Count 
# ---
#
df['pron_count'] = df.tweet.apply(lambda x: pos_check(x, 'pron'))
df[['tweet','pron_count']].sample(10)

In [ ]:
# Example 6
# ---
# Polarity
# ---
#

# Function to get polatiy of text using the module textblob
def get_polarity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        pol = textblob.sentiment.polarity
    except:
        pol = 0.0
    return pol

df['polarity'] = df.tweet.apply(get_polarity)
df[['tweet', 'polarity']].sample(10)

In [ ]:
# Example 7
# ---
# Subjectivity
# ---
#

# Function to get polatiy of text using the module textblob
def get_subjectivity(text):
    try:
        textblob = TextBlob(unicode(text, 'utf-8'))
        subj = textblob.sentiment.subjectivity
    except:
        subj = 0.0
    return subj

df['subjectivity'] = df.tweet.apply(get_subjectivity)
df[['tweet', 'subjectivity']].sample(10)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenges.

In [ ]:
# Challenge 1
# ---
# Question: Create part of speech tags and sentiment related features 
# ---
#

## 4. Tokenization

#### Examples

In [ ]:
# Example 1
# --- 
# Tokenization is the process dividing text documents into smaller parts called tokens. 
# Tokens can be either words, characters, or subwords. These tokens are very useful 
# for finding such patterns as well as is considered as a base step for stemming and lemmatization. 
# ---
# - The output of word tokenization can be converted to dataframe for better 
#   text understanding in machine learning applications. 
# - It can also be provided as input for further text cleaning steps such as punctuation removal,
#   numeric character removal or stemming.
# ---
# 

# We can transform our third tweet as shown below
# ---
# 
words = TextBlob(df.tweet[2]).words
print(words)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenge.

In [ ]:
# Challenge 1
# ---
# Question: Tokenize your first tweet and return the words.
# ---
#

## 5. Stemming and Lemmatization

#### Examples

In [ ]:
# We will use PorterStemmer from the NLTK library to perform 
# stemming, so lets import it.
# ---
# 
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [ ]:
# Example 1
# ---
# Stemming
# ---
# Stemming refers to the removal of suffices, like ing, ly, s, etc.
# It cuts either the beginning or end of the word.
# We use stemming to categorize the same type of data by its root word.
# ---
#
df['stemming'] = df['tweet'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
df[['tweet', 'stemming']].sample(10)

In [ ]:
# We will use wordnet from the NLTK library to perform 
# lemmatization, so lets import it. 
# ---
#
nltk.download('wordnet')

In [ ]:
# Example 2
# ---
# Lemmatization
# --- 
# Lemmatization refers to reducing the word to its root form as found in a dictionary. 
# The stems returned through lemmatization are actual dictionary words and are semantically 
# complete unlike the words returned by stemmer.
# ---
# 

# To perform lemmatization, we use will also import the Word object from the textblob library 
# and pass it the word that you want to lemmatize and then call the lemmatize method as shown
# ---
#
from textblob import Word


# Then perform lematization
# ---
#
df['lemmatization'] = df.tweet.apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()])) 
df[['tweet', 'lemmatization']].sample(10)

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenge.

In [ ]:
# Challenge 1
# ---
# Question: Perform stemming on all the tweets and storing them in a new dataframe column.
# ---
#

In [ ]:
# Challenge 2
# ---
# Question: Perform lemmatization in the given tweets and storing the result in a new dataframe column
# ---
#

## 6. N-grams

#### Example

In [ ]:
# Example 
# ---
# N-Grams refer to a contiguous sequence of n items from a given sample of text or speech.
# These items can be phonemes, syllables, letters, words or base pairs according to the application. 
# N-grams are used is feature extraction techniques such as in the creation of tf-idf features
# ---
# Ngrams with N=1 are called unigrams, Bigrams (N=2), Trigrams (N=3), etc.
# For instance, for a sentence "I love eating pasta", 2grams some 2-grams would be (I love), 
# (love eating) and (eating pasta).  
# --- 
# 
from nltk import word_tokenize, ngrams

# Word ngrams
# ---
#
list(ngrams(word_tokenize(df['tweet'][0]), 2))

In [ ]:
# Character ngrams 
# ---
#
list(ngrams(df['tweet'][0], 2))

#### <font color="green">Challenge</font>

In [ ]:
# Challenge 
# ---
# Get word and character 3-gram from the 3rd tweet in the disaster dataset.
# ---
#

## 7. Feature Extraction Techniques

#### Example: Creating a Bag of Words (BoW) Feature

In [ ]:
# Example 1
# ---
# Bag of Words (BoW)
# --- 
# Bag of Words is one of the most commonly used feature extraction techniques with TF-IDF being the other. 
# This is a method of feature extraction with text data where it is a representation of text 
# that describes the occurrence of words within a document. By using this technique, we only 
# keep track of word counts and disregard the grammatical details and the word order. 
# ---
# You can consider using BoW in the following situations:
# 1. Building a baseline model which you will later optmize or decide to use other models.
# 2. If your dataset is small and context is domain specific.
# --- 
# 
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer()
bag_of_words = count.fit_transform(df['tweet'])

# Show feature matrix / Priviewing the created sparse matrix
# ---
#
bag_of_words.toarray()

In [ ]:
# Get feature names
feature_names = count.get_feature_names()

# View feature names
feature_names

In [ ]:
# Creating a dataframe to visualise our matrix
# ---
#
pd.DataFrame(bag_of_words.toarray(), columns=feature_names)

#### Example: Creating a TF-IDF (Term Frequency-Inverse Document Frequency) Feature

In [ ]:
# Example 2a
# ---
# Term Frequency-Inverse Document Frequency 
# --- 
# ---
# TF-IDF is another feature extraction technique that we can use to represent text 
# data in a format that can be consumed by models. When we use TF-IDF, we assume 
# that high frequency may not able to provide much information gain such as in the case of
# Bag of words and on the contrary, rare words contribute more weights to the model. 
# Let's see how we implement this.
# ---
# 

# Importing the TfidfVectorizer which will help us with this process
# ---
#
from sklearn.feature_extraction.text import TfidfVectorizer

# Now creating a Word Level TF-IDF feature
# ---
# For our parameters:
# 1.   max_features: We would want to use 1000 most occurring words as features.
# 2.   lowercase: We can convert all characters to lowercase before tokenizing.
# 3.   stop_words: We can remove stop words as TfidfVectorizer has ability to remove stop words.
# 4.   analyzer='word' We can compute tfidf of word n-grams by setting word as the value of analyzer 
# 5.   ngram_range=(1, 3):  We then set the parameter ngram_range=(a, b),  where a is the minimum 
#      and b is the maximum size of ngrams we want to include in our features.
# ---
#
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', ngram_range=(1,3),  stop_words= 'english')
df_tweets_vect = tfidf.fit_transform(df['tweet'])

# Show feature matrix / Priviewing the created sparse matrix
#
df_tweets_vect.toarray()

In [ ]:
# Show tf-idf feature matrix
# ---
#
tfidf.get_feature_names()

In [ ]:
# Creating data frame to view our matrix
# ---
#
pd.DataFrame(df_tweets_vect.toarray(), columns=tfidf.get_feature_names())

In [ ]:
# Example 2b
# ---
# We can also create a character level TF-IDF feature as shown:
# ---
# For our parameters:
# 1.   max_features: We would want to use 1000 most occurring words as features.
# 2.   lowercase: We can convert all characters to lowercase before tokenizing.
# 3.   stop_words: We will choose remove stop words because TfidfVectorizer has ability to remove stop words.
# 4.   analyzer='word' We compute tfidf of character n-grams by setting word as the value of analyzer 
# 5.   ngram_range=(1, 3):  We then set the parameter ngram_range=(a, b),  where a is the minimum 
#      and b is the maximum size of ngrams we want to include in our features.
# ---
#
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='char', ngram_range=(1,3),  stop_words= 'english')
df_tweets_vect = tfidf.fit_transform(df['tweet'])
df_tweets_vect.toarray()

#### <font color="#4b76b7">Challenges</font>

Use the disaster dataset when going through the following challenge.

#### Bag of Words

In [ ]:
# Challenge 1
# ---
# Question: Perform feature extraction using bag of words on the tweets feature.
# ---
#

#### TF-IDF

In [ ]:
# Challenge 2
# ---
# Question: Create a character and  a word level tf-idf feature of the disaster tweets.
# ---
#